.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title {
    margin: 0 0 10px 5px;
    font-size: large;
    font-weight: 600;
}
.table {
    margin: 15px 15px 45px 15px;
}
.error {
    color: red;
}
.price_check_container {
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-left: 10px;
}
.price_check_left_item {
    display: inline-block;
    width: 155px;
}
.green {
    color: green;
    font-weight: 800;
}
.red {
    color: red;
    font-weight: 800;
}
.bottomMargin15px {
    margin-bottom: 15px;
}